body {
    margin: 0;
    padding: 0;
}

/*
This section is for Home page css
*/


/*
This section is for Product page css
*/
.product-background{
    background-color: #2544a8;
    
}
.product-title{
    color:aliceblue;
    text-align: center;
    padding: 25px;
    margin: 4px;
    font-size: 32px;
    font-weight: bold;
}

.card{
    width: 300px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,15);
    overflow: hidden;
}
.card img{
    width: 270px;
    height: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    margin: 10px;
}
.card-content{
    padding: 15px;
}
.card-content h3{
    margin: 0 0px 10px;
} 
.card-content p{
    color: #555;
    font-size: 16px;
}

.product-lists {
    display: flex;
    flex-direction: row;             /* space between cards */
}

.product-lists .card {
    background-color: #e7eaf1;
    padding: 20px;
    flex: 1;                /* cards take equal width */
}
