body {
    margin: 0;
    padding: 0;
}

/*
This section is for Home page css
*/
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        /* Header */
        header {
            background-color: #0000007c;
            color: white;
            padding: 20px;
            text-align: center;
        }

        /* super Section */
        .super {
            padding: 50px;
            text-align: center;
            background-color: white;
        }
        .super h1 {
            margin-bottom: 10px;
            color: #000000;
        }
        .super p {
            font-size: 18px;
        }

        /* Navbar */
        .navbar {
            background-color: #b341ffb0;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            text-align: left;
            color: white;
        }
        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
        }
        .nav-links li a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            transition: color 0.3s;
        }
        .nav-links li a:hover {
            color: #00c3ff;
        }


/*
This section is for Product page css
*/
.product-background{
    background-color: #2544a8;
    
}
.product-title{
    color:aliceblue;
    text-align: center;
    padding: 25px;
    margin: 4px;
    font-size: 32px;
    font-weight: bold;
}

.card{
    width: 300px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,15);
    overflow: hidden;
}
.card img{
    width: 270px;
    height: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    margin: 10px;
}
.card-content{
    padding: 15px;
}
.card-content h3{
    margin: 0 0px 10px;
} 
.card-content p{
    color: #555;
    font-size: 16px;
}